body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  color: black;
  font-size: 100%;
  font-family: 'Open Sans', serif; }

h1 {
  font-weight: 300; }

canvas {
  background: black;
  position: absolute;
  top: 0;
  left: 0; }

.isHidden {
  display: none; }
